<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sem.allscience">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Matematica.MenuActivity" />
        <activity android:name=".Matematica.DeterminanteActivity" />
        <activity android:name=".Matematica.TrigonometriaActivity" />
        <activity android:name=".Matematica.BhaskaraActivity" />
        <activity android:name=".Matematica.GCDActivity" />
        <activity android:name=".Matematica.MatrixDimensionSelector" />
        <activity android:name=".Matematica.MatrizMultiplicationActivity" />
        <activity android:name=".Physics.PhysicsMenuActivity" />
        <activity android:name=".Chemistry.ChemistryMenuActivity" />
        <activity android:name=".Physics.CinematicaActivity" />

    </application>

</manifest>